flows/Set_Matter_Plan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Using the Litify Packaged component, set the Matter Plan to the given Matter</description>
        <name>Set_Matter_Plan</name>
        <label>Set Matter Plan</label>
        <locationX>753</locationX>
        <locationY>50</locationY>
        <actionName>litify_pm__PBSetMatterPlan</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>matter</name>
            <value>
                <elementReference>svar_Matter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matterPlanId</name>
            <value>
                <elementReference>Lookup_the_Matter_Plan_by_Name.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Matter_ID</name>
        <label>Set Matter ID</label>
        <locationX>206</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>svar_Matter.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MatterID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_the_Matter_Plan_by_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if a Matter Plan was found. If none, exit the flow.</description>
        <name>Matter_Plan_Found</name>
        <label>Matter Plan Found</label>
        <locationX>527</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_the_Matter_Plan_by_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matter_Plan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Set the Matter Plan based on a supplied Matter Plan Name and Matter.</description>
    <interviewLabel>Set Matter Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Matter Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup a Matter Plan based on the name. If multiple are found, use just the 1st one found.</description>
        <name>Lookup_the_Matter_Plan_by_Name</name>
        <label>Lookup the Matter Plan by Name</label>
        <locationX>363</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matter_Plan_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MatterPlanName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Matter_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Matter_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>svar_Matter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Matter__c</objectType>
    </variables>
    <variables>
        <name>var_MatterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MatterPlanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
